<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brook Tweet | Real-Time Twitter Stream App</title>
        <meta name="description" content="A Real-time Twitter Stream App built with Node.js and React.js">
        <meta name="author" content="Daniel Muñoz">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        {{{ body }}}
        <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
        <script src="js/bundle.js"></script>
    </body>
</html>